/* === Body Style === */
/* Shape Background*/
body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: var(--color-blue-primary);
    border-top-left-radius: 200px;
    border-top-right-radius: 50px;

    /* slanted effect */
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    z-index: 1;
}

/* so as not to be crushed */
header,
main,
footer {
    position: relative;
    z-index: 2;
}

/* === Header Style === */
header {
    z-index: 100;
}

/* Logo responsive */
.navbar-brand img {
    height: 60px;
    width: auto;
    object-fit: contain;
}

/* Reponsive Mobile */
@media (max-width: 768px) {
    header .navbar-brand img {
        max-height: 45px;
    }
}

/* === Main Style === */
main div.container {
    padding-top: 100px;
}

/* == Section Select Role == */
main div.card {
    border-radius: 1.5rem;
}

main div.role-card:hover {
    transform: scale(var(--scale-up));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: var(--transition-all);
}

.role-card .card {
    transition: all 0.3s ease; /* Transisi halus untuk efek hover */
}

.freelancer-card .card {
    border: 2px solid var(--color-blue-primary);
}

.client-card .card {
    border: 2px solid var(--color-pink-primary);
}

.role-card .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.freelancer-card .card .bi-briefcase-fill {
    color: var(--color-blue-primary) !important;
}

.client-card .card .bi-person-badge-fill {
    color: var(--color-pink-primary) !important;
}

/* ===== Section sign-up-form ===== */
.sign-up-form h2.card-title {
    color: var(--color-pink-primary);
}

.sign-up-form .btn {
    background-color: var(--color-blue-primary);
    border: none;
    transition: all 0.3s ease;
}

.sign-up-form .btn:hover {
    background-color: var(--color-blue-hover);
}
.sign-up-form .btn:active,
.sign-up-form .btn:focus {
    background-color: var(--color-blue-active);
}

.sign-up-form a.link-login {
    color: var(--color-blue-primary);
    transition: color 0.3s ease;
}

.sign-up-form a.link-login:hover {
    color: var(--color-pink-hover);
}

/* === Footer Style === */
.footer-custom h6 {
    font-size: 25px;
}

.social-link {
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.3s ease;
}

.social-link:hover {
    color: var(--color-pink-primary);
    transform: scale(1.2);
}

@media (max-width: 576px) {
    .social-link {
        font-size: 1.5rem; /* kecilkan sedikit di HP */
    }
}
