body {
    background-color: var(--color-white);
}

.container-mobile {
    background-color: white;
}

.button-guest.btn.btn-primary {
    width: 266px;
    height: 64px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 64px; /* Agar teks berada di tengah*/
    font-size: 24px;
    border-radius: 30px;
    background-color: var(--color-blue-primary);
}

.button-guest.btn.btn-primary:hover {
    background-color: var(--color-blue-hover);
}

.button-guest.btn.btn-primary:active {
    background-color: var(--color-blue-active);
}