body {
    background-color: var(--color-white);
}

.container-mobile {
    background-color: white;
}

.button-get-strated.btn {
    width: 266px;
    height: 64px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 64px; /* Agar teks berada di tengah*/
    font-size: 24px;
    border-radius: 30px;
    background-color: var(--color-blue-primary);
}

.button-get-strated.btn:hover {
    background-color: rgb(42, 119, 190);
}

.button-get-strated.btn:active {
    outline: 3px solid 	#367ce6;
    background-color: #71b1ec;
}