.input-sign-in {
    height: 44px;
    padding: 2px 15px;
    margin-bottom: 37px;
}

span.line {
    height: 1px;
}

.container-sign-in a.btn {
    margin-bottom: 15px;
    height: 44px;
}

a.btn.btn-light {
    display: grid;
    grid-template-columns: auto 1fr auto;
    transition: var(--transition-all);
}

a img {
    width: 24px;
    height: 24px;
}

a .btn-text {
    justify-self: center;
}


