:root {
	/* Variabel Warna */
	--color-blue-primary:#0FB2E7;
	--color-blue-hover:#0C9BCC;
	--color-blue-active:#0A7EA8;
	--color-pink-primary: #FF01E1;
	--color-pink-secondary: #FF66F2;
	--color-pink-hover: #E600C2;
	--color-pink-active: #B30091;
	--color-black-primary: #000000;
	--color-black-hover: #333333;
	--color-black-active: #666666;
	--color-white-primary: #FFFFFF;
	--color-white-hover: #F0F0F0;
	--color-white-active: #E0E0E0;

	/* Jenis Font */
	--font-main:'DM Sans', sans-serif;

	/* Scale */
	--scale-up: 1.02;
	--scale-down: 0.98;

	/* Transition */
	--transition-all: all 0.2s ease-in-out;
}

* {
	font-family: var(--font-main);
}

body {
	padding: 25px 0px;
}