:root {
	/* Variabel Warna */
	--color-blue-primary:#369AF9;
	--color-blue-secondary:#285BFF;
	--color-blue-hover:#3A9DFE;
	--color-blue-active:#70B1EE;
	--color-orange-primary:#FF862A;
	--color-orange-secondary:#FF7710;
	--color-orange-hover:#e97416;
	--color-orange-active:#cc6600;
	--color-black: #000000;

	/* Jenis Font */
	--font-main:'nunito sans', sans-serif;
}

* {
	font-family: var(--font-main);
}

body {
	padding: 25px;
}

.container-mobile {
	width: 440px;
	height: 956px;
	padding: 15px;
	background-color: var(--color-blue-primary);
}

header {
	height: 200px;
}

.button-back.btn {
	background-color: var(--color-blue-primary);
}

.button-back.btn:hover {
	background-color: #237ccf;
}

.button-back.btn.btn-light:active {
	background-color: #70b1ee;
}

.text-information {
	font-size: 18px;
}

.button-guest.btn.btn-primary {
	height: 45px;
	font-size: 22px;
	line-height: 45px;
	background-color: var(--color-orange-primary);
}

.button-guest.btn.btn-primary:hover {
	transform: scale(1.02);
	background-color: var(--color-orange-hover);
}

.button-guest.btn.btn-primary:active {
	background-color: var(--color-orange-active);
	transform: scale(0.98);
}