:root {
	/* Variabel Warna */
	--color-blue-primary:#369AF9;
	--color-blue-secondary:#285BFF;
	--color-blue-hover:#3A9DFE;
	--color-blue-active:#70B1EE;
	--color-orange-primary:#FF862A;
	--color-orange-secondary:#FF7710;
	--color-orange-hover:#e97416;
	--color-orange-active:#cc6600;
	--color-black-primary: #000000;
	--color-black-hover: #333333;
	--color-black-active: #666666;
	--color-white-primary: #FFFFFF;
	--color-white-hover: #F0F0F0;
	--color-white-active: #E0E0E0;

	/* Jenis Font */
	--font-main:'nunito sans', sans-serif;

	/* Scale */
	--scale-up: 1.02;
	--scale-down: 0.98;
}

* {
	font-family: var(--font-main);
}

body {
	padding: 25px;
}

.container-mobile {
	width: 440px;
	height: 956px;
	padding: 15px;
	background-color: var(--color-blue-primary);
}

header {
	height: 200px;
}

.button-back {
	transition: all 0.2s ease-in-out;
}

.button-back:hover {
	color: var(--color-black-hover);
	transform: translateX(5px) scale(var(--scale-up));
}

.button-back:active {
	color: var(--color-black-active);
	transform: translateX(-5px) scale(var(--scale-down));
}

.text-information {
	font-size: 18px;
}

.button-guest.btn.btn-primary {
	height: 45px;
	font-size: 22px;
	line-height: 45px;
	background-color: var(--color-orange-primary);
}

.button-guest.btn.btn-primary:hover {
	transform: scale(1.02);
	background-color: var(--color-orange-hover);
}

.button-guest.btn.btn-primary:active {
	background-color: var(--color-orange-active);
	transform: scale(0.98);
}